# Classwork Lecture 4

In this exercise, you'll get familiar with the following basics of python:

- String Functions
- If Else Statements
- For Loops

## Student Details

- Name:
- Division: 
- Roll:

# String Functions

Python has a set of built-in methods that you can use on strings. Please complete the following short exercise to learn more about the different string functions. 

[See Reference Library of String Functions](https://www.w3schools.com/python/python_ref_string.asp)

## Part 1

In [1]:
# Name


#Empty String


#String with numeric values in it

In [2]:
# Q1 A Create and print a variable called "my_name"that stores your name in all lower case
my_name = "aryan"

In [3]:
# Q1 B Capitalize the first letter of "my_name" and then print it
my_name = my_name.capitalize()
my_name

'Aryan'

In [4]:
# Q1 C Capitalize all letters of "my_name" and then print it
my_name = my_name.upper()
my_name

'ARYAN'

## Part 2

In [10]:
# Q2 A Create and print a variable called "my_favorite_fruit" 
# and make it store "I love apples, apples are my favorite fruit"
my_favorite_fruit = "i love apples, apples are my favorite fruit"
my_favorite_fruit

'i love apples, apples are my favorite fruit'

In [11]:
# Q2 B Print whether "my_favorite_fruit" ends with "fruit" 
my_favorite_fruit.endswith("fruit")

True

In [14]:
# Q2 C Count and print the number of times the value "apple" appears in the string
apple_count = my_favorite_fruit.count("apple")
apple_count

2

In [16]:
# Q2 D Replace "apple" with "banana" in "my_favorite_fruit"
my_favorite_fruit = my_favorite_fruit.replace("apple", "banana")
my_favorite_fruit

'i love bananas, bananas are my favorite fruit'

In [17]:
# Q2 E Convert the first character of each word in "my_favorite_fruit" to upper case
my_favorite_fruit = my_favorite_fruit.title()
my_favorite_fruit

'I Love Bananas, Bananas Are My Favorite Fruit'

In [19]:
# Q2 F Split "my_favorite_fruit" on "," and print the result

my_favorite_fruit_list = my_favorite_fruit.split(", ")
my_favorite_fruit_list

['I Love Bananas', 'Bananas Are My Favorite Fruit']

# If Else Statements

[See Reference](https://info370a-w19.github.io/python-basics/logic-and-conditionals.html)

In [22]:
#Mother Older 
mother_age = 45
father_age = 48
mother_older = mother_age > father_age

In [25]:
def is_mother_older(mother_age, father_age):
    if mother_age>father_age:
        print ("Mother is older to father")    
    
    elif mother_age == father_age:
        print("mother and father are the same age")
     
    else:
        print("Mother is not older to father")

In [26]:
is_mother_older(40,40)

mother and father are the same age

In [30]:
#Pass Fail 
def pass_fail(grade):
    if(grade>35):
        print ("Pass")
    
    elif grade == 35 :
         print ("Just passed")
            
     
    else :
        print ("failed")

In [31]:
pass_fail(24)
pass_fail(35)
pass_fail(80)

failed
Just passed
Pass

# Create a function that accepts the current temperature and returns "is hot" if the temperature is greater than 24 and returns "is not hot" if the temperature is equal to or below 24

# Grades

- A Grade: 90 and above
- B Grade: 70 and 89
- C Grade: 50 and 69
- D Grade: 35 and 49
- F Grade: Anything below 35

In [35]:
def grader(score): 
    if score>=90:
        return "A"
    elif score>=70 and score  <=89:
           return  "B"
    elif score>=50 and score  <=69:
           return "C"
    elif score>=35 and score  <=49:
           return "D"

In [37]:
aryan_grade = grader(90)
aryan_grade

'A'

In [13]:
# Create a function called "goldilocks" that accepts a numeric temperature value 
# and returns "This porridge is too hot!" if the temperature value is >= 80
# and returns "This porridge is just right" if the temperature value is between 40 and 79
# and returns "This porridge is too cold" if the temperature value is below 40

# For Loops

In [38]:
# Create a list of your favorite movies
movies = ["Inception", "catch me if you can", "Tenet", "interstellar"]
movies

['Inception', 'catch me if you can', 'Tenet', 'interstellar']

In [40]:
# Create a for loop that prints each of your favorite movies with the text "I love "
for movie in movies: 
    print ("i love", movie)

i love Inception
i love catch me if you can
i love Tenet
i love interstellar

In [42]:
# Create a list of your favorite cars and favorite colors
cars = ["Ferrari", "Lamborgini", "tesla", "mercedes"]
colors = ["red", "blue", "green"]

In [43]:
for color in colors:
    for car in cars:
        print (color, car)

red Ferrari
red Lamborgini
red tesla
red mercedes
blue Ferrari
blue Lamborgini
blue tesla
blue mercedes
green Ferrari
green Lamborgini
green tesla
green mercedes

In [17]:
# Create a nested for loop that prints your favorite car names for each favorite color

# Create a function that accepts a list of colors and a list of cars  and then returns the following

- "Yes it exists" if the car combination "Speed Red Mazda" is possible
- "Does not exist" if the car combination "speed red Mazda" is not possible

In [47]:
def speed_red_mazda_exists(cars, colors):
    
    for color in colors:
        for car in cars:
            if car == "Mazda":
                return "it exists"
            
            return "DOES NOT EXSIST"

In [48]:
car_list_1 = ["ferrari", "ford"]
color_list_1 = ["mrtalic blue", "speed red"]
speed_red_mazda_exists(car_list_1, color_list_1)

'DOES NOT EXSIST'